@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

.carouselMain {
    display: flex;
    height: 50%;
    align-items: center;
    img {
        max-height: 80px;
        height: 8vw;
        min-height: 60px;
        user-select: none;
        margin-bottom: 10px;
    }
}

.carouselCard {
    display: flex;
    font-family: "Roboto", sans-serif;
    flex-direction: column;
    // background-color: rgba(255, 255, 255, 0.2);
    // border: 1px solid black;
    justify-content: center;
    align-items: center;
}

.toUpper {
    text-transform: uppercase;
}

.cardPrice {
    // font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 400;
}
