@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

.carouselMain {
    display: flex;
    height: 50%;
    align-items: center;
    user-select: none;
    img {
        cursor: pointer;
        max-height: 80px;
        height: 8vw;
        margin-bottom: 10px;
    }

    @media screen and (max-width: 768px) {
        img {
            height: 7.8125vw;
            margin-bottom: 1.3021vw;
        }
    }
}

.carouselCard {
    display: flex;
    font-family: "Roboto", sans-serif;
    flex-direction: column;
    // background-color: rgba(255, 255, 255, 0.2);
    // border: 1px solid black;
    justify-content: center;
    align-items: center;
}

.toUpper {
    text-transform: uppercase;
}

.cardPrice {
    // font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 400;
    @media screen and (max-width: 768px) {
        font-size: 2.8646vw;
    }
}

.cardSymbolPerc {
    font-size: 16px;
    @media screen and (max-width: 768px) {
        font-size: 2.0833vw;
    }
}
