.paginationCoins {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

#bottom {
    padding-top: 15px;
}

.cryptoByCapText {
    margin: 18px;
    font-family: Montserrat, sans-serif;
    font-size: 34px;
    margin-bottom: 15px;
    @media screen and (max-width: 768px) {
        margin: 2.3438vw;
        font-size: 4.4271vw;
        margin-bottom: 1.9531vw;
    }
}
