.mockUp_style {
    display: flex;
    height: 30vh;
    // border: 1px solid gray;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 5vw;
}
